<Environment Current="CNXT_Test_Sven">
  <Environments>
    <!-- EnvironmentType= development|test|staging|production -->

    <!--CNXT -->
    <Env Name="CNXT_Test_Sven"
         EnvironmentType="Test"
         CustomerName="WimBosman"
         AssemblyRootFolder="C:\Diract-IT\Repos\CNXT\Library"
         MachineName="."
         MaximumWorkerCount="1"
         Connection="Data Source=.;Initial Catalog=CNXT;Persist Security Info=True;User ID=concentrator_usr;Password=c0nc3ntT12;MultipleActiveResultSets=True"
         LoggingDatabaseConnection="Data Source=.;Initial Catalog=CNXT_Log;User ID=concentrator_usr;Password=c0nc3ntT12;MultipleActiveResultSets=True"
         ImportDatabaseConnection="Data Source=.;Initial Catalog=CNXT_Import;User ID=concentrator_usr;Password=c0nc3ntT12;MultipleActiveResultSets=True"
         ProcessDatabaseConnection="Data Source=.;Initial Catalog=CNXT_Process;Persist Security Info=True;User ID=concentrator_usr;Password=c0nc3ntT12;MultipleActiveResultSets=True"
         ServiceBusConnectionString="Endpoint=sb://svenlaptop/CNXTSB;StsEndpoint=https://svenlaptop:9355/CNXTSB;RuntimePort=9354;ManagementPort=9355"/>  

  </Environments>
</Environment>