<?xml version="1.0" encoding="utf-8"?>
<system.diagnostics>
  <sharedListeners>

    <add name="Console" type="CeyenneNxt.Core.Diagnostics.ConsoleTraceListener, CeyenneNxt.Core" traceOutputOptions="DateTime"/>
    <add name="RollingFile" type="CeyenneNxt.Core.Diagnostics.RollingFileTraceListener, CeyenneNxt.Core" directory="C:\temp\Logs\"/>
    <add name="Servicebus" type="CeyenneNxt.Core.Diagnostics.ServiceBusTraceListener, CeyenneNxt.Core"/>
  </sharedListeners>
  <trace autoflush="true" indentsize="3">
    <listeners>
      <clear/>
      <add name="RollingFile"/>
    </listeners>
  </trace>
</system.diagnostics>