<Environment Current="Local development">
  <Environments>
    <!-- EnvironmentType= development|test|staging|production -->

    <!--CNXT -->
    <Env Name="Local development"
         WebApiBaseUrl="http://localhost:27428/"
         EnvironmentType="Test"
         CustomerName="WimBosman"
         AssemblyRootFolder="C:\Diract-IT\Projecten\CeyenneNxt\CeyenneNXT_POC\Applications\CeyenneNxt.Application.Process\bin\Debug"
         MachineName="."
         MaximumWorkerCount="1"
         Connection="Data Source=.;Initial Catalog=CNXT_WB;Persist Security Info=True;User ID=concentrator_usr;Password=c0nc3ntT12;MultipleActiveResultSets=True"
         ServiceBusConnectionString="Endpoint=sb://svenlaptop/CeyenneNxt;StsEndpoint=https://svenlaptop:9355/CeyenneNxt;RuntimePort=9354;ManagementPort=9355"
      />

    <Env Name="Staging server"
       WebApiBaseUrl="http://localhost:27428/"
       EnvironmentType="Staging"
       CustomerName="WimBosman"
       AssemblyRootFolder="C:\Diract-IT\Projecten\CeyenneNxt\CeyenneNXT_POC\Applications\CeyenneNxt.Application.Process\bin\Debug"
       MachineName="."
       MaximumWorkerCount="1"
       Connection="Data Source=.;Initial Catalog=CNXT_WB;Persist Security Info=True;User ID=concentrator_usr;Password=c0nc3ntT12;MultipleActiveResultSets=True"
       ServiceBusConnectionString="Endpoint=sb://svenlaptop/CeyenneNxt;StsEndpoint=https://svenlaptop:9355/CeyenneNxt;RuntimePort=9354;ManagementPort=9355"
      />
    
  </Environments>
</Environment>